---
layout: default
---
<article class="post">
  <h1 class="post-title">{{ page.title }}</h1>
  <p class="post-meta">{{ page.date | date: "%b %-d, %Y" }}</p>
  <div class="post-content">
    {{ content }}
  </div>
  {%- if page.tags -%}
  <p class="post-tags"><strong>Tags:</strong> {{ page.tags | join: ", " }}</p>
  {%- endif -%}
  <hr>
  <p>
    {%- if page.previous -%}
      ← <a href="{{ page.previous.url | relative_url }}">{{ page.previous.title }}</a>
    {%- endif -%}
    {%- if page.next -%}
      <span style="float:right"><a href="{{ page.next.url | relative_url }}">{{ page.next.title }}</a> →</span>
    {%- endif -%}
  </p>
</article>
